.acf-field-message,
.acf-field-object-message {
	background-color: #999;
	color: #fff;
	border-top:1px solid #ccc !important;
	border-bottom:1px solid #ccc;
}
.acf-field-message .acf-label {
	margin:0;
}
.acf-field-message .acf-label label {
	font-size:16px;
}
.acf-field-object-message a,
.acf-field-object-message .handle .acf-icon {
	color:#fff;
}
.acf-field-object-message .acf-table {
	color: #444;
}
.acf-field-message {
	padding:0 12px !important;

	h3 {
		color:#fff;
	}

}
