.woocommerce-account {
	.woocommerce {
		font-family: $font-family-sans-serif;
		font-size: 1.8rem;
		font-weight: 300;

		&-MyAccount-container {
			display: flex;
			flex-flow: row nowrap;
		}

		&-MyAccount-navigation {
			flex: 0 0 300px;
			margin-right: 90px;

			width: initial;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					border-bottom: 1px solid $afs-form-input-outline;

					a {
						display: inline-block;

						padding: 10px 0;

						font-size: 1.6rem;
						font-weight: 300;

					}

					&.is-active {
						a {
							font-weight: 700;
						}
					}
				}
			}
		}

		&-MyAccount-content {
			flex: 1 1 auto;
			width: initial;

			a:not(.button) {
				color: $afs-blue-light;
			}

			.dashboard-title {
				margin-bottom: 20px;

				font-size: 6rem;
				font-family: $font-family-serif;
				color: $afs-blue
			}

			.dashboard-subtitle {
				font-size: 1.8rem;
				font-weight: 700;
				color: $afs-blue;
			}

			.dashboard-header {
				display: flex;
				flex-flow: row wrap;

				justify-content: space-between;
				align-items: baseline;

				&__greeting {
					@extend .dashboard-title;
				}

				&__logout {
					font-size: 1.8rem;
					color: $afs-body-main-color;
				}
			}

			.woocommerce-orders-table {
				tbody {
					tr {
						td {
							a.button {
								color: white;

								padding: 10px;
								margin: 5px;

							}
						}
					}
				}
			}

			.woocommerce-Addresses {
				margin-top: 30px;

				.woocommerce-Address {
					h3 {
						@extend .dashboard-subtitle;
					}
				}
			}

			form {
				h3 {
					@extend .dashboard-title;
				}
			}
		}

		// Login/Register Page
		#customer_login {
			display: flex;
			flex-flow: row wrap;

			box-shadow: 0 0 100px 10px transparentize(black, .9);

			.woocommerce-form-login,
			.woocommerce-form-register {
				a.button,
				button[type="submit"].button {
					height: 35px;
					padding: 5px 15px;
				}
			}

			.u-column1,
			.u-column2 {
				flex: 1 1 50%;
				width: 50%;

				padding: 50px 0;

				h2,
				form.woocommerce-form {
					padding: 0 15%;
				}

				h2 {
					margin-bottom: 15px;
					color: #fff;
					font-size: 3.2rem;
				}
			}

			.u-column2 {
				form.woocommerce-form {
					border-left: 1px solid rgba(0,0,0, .1);
				}
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.woocommerce-account {
		.woocommerce {
			&-MyAccount-navigation {
				flex: 0 0 150px;
				margin-right: 30px;
			}

			&-MyAccount-content {

				.dashboard-title {
					font-size: 4rem;
				}

				.dashboard-header {
					&__logout {
						font-size: 1.4rem;
					}
				}
			}

			#customer_login {
				.u-column1,
				.u-column2 {
					padding: 30px 0;

					h2,
					form.woocommerce-form {
						padding: 0 30px;
					}

					h2 {
						font-size: 2.6rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.woocommerce-account {
		.woocommerce {
			&-MyAccount-content {
				.woocommerce-orders-table {
					tbody {
						tr {
							td {
								a.button {
									font-size: 1.2rem;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.woocommerce-account {
		.woocommerce {
			// Login/Register Page
			#customer_login {
				&::before {
					content: '';
					position: relative;

					flex: 0 0 100%;

					display: block;
					height: 100px;
					background-image: url('/wp-content/themes/afs/assets/img/Squiggle.jpg');
				}

				.u-column1,
				.u-column2 {
					position: relative;

					h2 {
						position: absolute;
						top: -70px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.woocommerce-account {
		.woocommerce {
			&-MyAccount-container {
				flex-flow: column nowrap;
			}

			&-MyAccount-navigation {
				flex: 1 1 auto;
				margin: 0 30px 30px 0;

				ul {
					display: flex;
					flex-flow: row wrap;
					justify-content: center;


					li {
						margin: 0 10px;

							a {

						}
					}
				}
			}

			&-MyAccount-content {
				.woocommerce-customer-details {
					&__contact {
						&-container {
							.woocommerce-customer-details__row {
								flex-flow: column nowrap;

								.woocommerce-customer-details--phone,
								.woocommerce-customer-details--email {
									flex: initial;
								}

							}
						}
					}
				}
			}

			// Login/Register Page
			#customer_login {
				.u-column1,
				.u-column2 {
					width: 100%;
					flex: 1 1 100%;

					padding-top: 0;

					h2 {
					    padding: 15px 30px;
					    margin-bottom: 30px;
						background-image: url('/wp-content/themes/afs/assets/img/Squiggle.jpg');
					}
				}
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.woocommerce-account {
		.woocommerce {
			&-MyAccount-content {
				.dashboard-title {
					font-size: 2.6rem;
				}
			}

			#customer_login {
				.u-column1,
				.u-column2 {
					form.woocommerce-form {
						padding: 0 15px;
					}
				}
			}
		}
	}
}