.woocommerce {
	font-family: $font-family-sans-serif;
	color: $gray-light;

	.cart-count {
		display: inline-block;

		padding: 0 5px;
		border: 2px solid $afs-blue;
		border-radius: 8px;
		margin-left: 5px;

		background-color: $afs-blue;

		color: white;
	}

	a.button,
	button[type="submit"].button {
		@extend .btn--rounded;
		@extend .btn--nocaret;

		padding: 10px 15px;
		margin: 0;
	}

	.woocommerce-info,
	.woocommerce-notice--info {
		border-top-color: $afs-blue-light;

		font-weight: 300;

		&::before {
			color: $afs-blue-light;
		}

		a {
			color: $afs-blue-light;
		}
	}

	.woocommerce-header {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 479px) {
			flex-flow: column wrap;
			justify-content: flex-start;
			align-items: flex-start;

			margin-bottom: 30px;
		}
	}

	.woocommerce-header-nav {
		ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;

			list-style: none;
			padding: 0;
			margin: 0;

			li {
				+ li {
					&::before {
						content: "|";
						display: inline-block;
						margin: 0 10px;
						color: $afs-blue;
					}
				}
			}
		}
	}

	.woocommerce-message {
		a {
			margin: 0;
		}

		@media screen and (max-width: 767px) {
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-start;

			a.button {
				order: 999;
				margin-top: 10px;
			}
		}
	}

	table.shop_table {
		font-weight: 300;
		color: $gray-dark;

		thead {
			tr {
				th {
					font-weight: 600;
				}
			}
		}

		tbody {
			tr {
				td {
					font-weight: 300;

					&.actions {
						padding: 10px 0;

						div.coupon {
							display: flex;
							flex-flow: row nowrap;

							#coupon_code {
								border: 2px solid $afs-blue-light;
								border-radius: 8px !important;

								width: 100%;
								max-width: 180px;
							}

						}

						button.button {
							margin: 0;
							padding: 10px 15px;
						}
					}
				}
			}
		}

		tfoot {
			tr {
				th {
					position: relative;
					display: flex;
					flex-flow: row nowrap;
					align-items: baseline;

					font-weight: 300;

					&:after {
						content: '';

						flex: 1 1 auto;

						height: 0;

						border-bottom: 2px dotted #ddd;
						margin-left: 10px;

						line-height: 0;
					}
				}

				td.woocommerce-table__footer-note {
					font-weight: 300;
				}

				&.shipping {
					.pickup-location-field {
						margin: 10px 0;

						font-weight: 300;

						.select2,
						.pickup-location-appointment-date {
							width: auto !important;
						}

						small {
							font-size: 1.8rem;
							color: $gray-dark;
							font-weight: 300;
						}

						.pickup-location-address {
							margin: 10px 0;
							font-size: 14px;
						}

						.pickup-location-calendar {
							> small {
								font-weight: 600;
							}
						}

						.pickup-location-schedule {
							margin: 10px 0;

							ul {
								padding: 0;
								margin: 0;

								list-style: none;

								li {
									position: relative;
									padding-left: 30px;

									&::before {
										content: "\f178";
										position: absolute;
										left: 0;

										display: inline-block;

										font-family: $icon-font-name;

										color: $afs-blue-light;
									}
								}
							}
						}

					}

					.woocommerce-shipping-contents {
						display: none;
					}

					#wc-local-pickup-plus-toggle-default-handling {
						color: white;

						a {
							color: $afs-blue-light;
						}
					}

				}

			}
		}




		&.afs-table {
			border: none;

			thead {
				tr {
					background-color: $afs-blue-light;
					color: white;

					th {
					    padding: 20px 8px 15px 8px;
					    font-size: 1.6rem;
					}
				}
			}

			tbody {
				tr {
					td {
						border-top: none;
						border-bottom: 1px solid rgba(0,0,0,.1);
					}
				}
			}

		}
	}

	.woocommerce-breadcrumb {
		margin: 30px 0;

		font-size: 1.6rem;
		color: $afs-blue-light;
		font-weight: 700;

		a:first-of-type {
			@extend .btn;

			padding: 5px 10px;
			margin: 0;

			border-radius: 8px;
		}

		a,
		.delimiter {
			font-weight: 300;
			color: $gray-dark;
		}

		.delimiter {
			&::before {
				content: "\f054";
				display: inline-block;

				font-family: $icon-font-name;
				color: $gray-dark;
				font-size: 1.1rem;
				font-weight: 300;

				margin: 0 5px;
			}
		}
	}

	nav.woocommerce-pagination {

		margin: 30px 0;
		text-align: center;

		ul.page-numbers {
			border: none;
			text-align: center;

			li {
				border: none;

				a.page-numbers,
				span.page-numbers {
					display: inline-block;
					width: 50px;
					height: 50px;

					padding: 10px;
					margin: 0 5px;

					line-height: 30px;
					color: $afs-blue;
					background-color: #e8e8e8;

					&:hover {
						color: #fff;
						background-color: $afs-blue;
					}

					&.current {
						color: #fff;
						background-color: $afs-blue;
					}
				}
			}
		}
	}

	.star-rating {
		color: $afs-blue;
	}

	span.onsale {
		width: 60px;
		height: 60px;

		padding: 0;
		border: 4px solid #fff;
		margin: 0;

		font-size: 1.4rem;
		font-weight: 700;
		line-height: 50px;
	}

	.price {
		.price-suffix {
			font-weight: 100;
			font-size: 1.3rem;
		}
	}

	//Product Archive + related Products
	ul.products {

		@supports (display: grid) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 30px;

			@media screen and (max-width: 991px) {
				grid-template-columns: 1fr 1fr;
			}

			@media screen and (max-width: 479px) {
				grid-template-columns: 1fr;
			}

			&::before,
			&::after {
				content: none !important;
			}

			li.product {
				width: 100% !important;
			}
		}

		margin-top: 30px;


		li.product {
			display: flex;
			flex-flow: column nowrap;

			span.onsale {
				top: -15px;
				right: -15px;

				@media screen and (max-width: 767px) {
					top: -5px;
					right: -5px;
				}
			}

			.woocommerce-loop-product__link {
				display: block;

				img {
					height: 300px;
					width: 100%;
					object-fit: cover;
				}
			}

			.woocommerce-loop-product__title {
				font-size: 1.8rem;
				font-weight: 700;
				color: $afs-blue;
			}

			.price {
				font-size: 1.6rem;

				.woocommerce-Price-amount {
					font-weight: 300;
				}

				del {
					display: block;
					opacity: 1;
					color: $gray-dark;

					.woocommerce-Price-amount {
						color: $gray-dark;
					}
				}

				ins {
					.woocommerce-Price-amount {
						color: $afs-green;
					}
				}
			}

			a.button {
				margin-top: auto;
				align-self: flex-start;

				padding: 10px 15px;
			}

			a.added_to_cart {
				color: $afs-blue-light;
			}

		}
	}

	div.quantity {
		input[type="number"] {
			height: 50px;

			border: 2px solid $afs-blue-light;
			border-radius: 8px !important;
		}

		label {
			margin: 0 5px;
			font-size: 1.8rem;
			font-weight: 300;
		}
	}

	.woocommerce-customer-details {
		&__contact {
			margin-bottom: 30px;

			h3 {
				@extend .afs-title-sm;
				color: $gray-dark;
			}

			&-container {
				border: 1px solid rgba(0, 0, 0, .1);
				border-radius: 10px;

				.woocommerce-customer-details__row {
					display: flex;
					flex-flow: row nowrap;
					padding: 10px 10px 10px 20px;

					.woocommerce-customer-details--phone,
					.woocommerce-customer-details--email {
						flex: 0 0 150px;
						font-weight: 600;
						color: $gray-dark;

						&::before {
							line-height: 1.25;
						}

						+ p {
							@include ellipsis-clip();
							font-weight: 300;
						}
					}

					&:not(:last-of-type) {
						border-bottom: 1px solid rgba(0, 0, 0, .1);
					}
				}

			}
		}

		.woocommerce-column__title {
			@extend .afs-title-sm;
			color: $gray-dark;
		}

		address {
			border: none;
			padding: 0;
			font-weight: 300;
		}
	}

	.woocommerce-order-details {
		> h2 {
			@extend .afs-title-sm;
			font-weight: 600;
			color: $gray-dark;
		}

		&__status,
		.woocommerce-OrderUpdates {
			margin-bottom: 30px;
		}


		&__updates {
			margin-bottom: 30px;

			h2 {
				@extend .afs-title-sm;
				font-weight: 600;
			}

			p.woocommerce-OrderUpdate-meta {
				font-size: 1.6rem;
				font-style: italic;
				font-weight: 500 !important;
			}

		}
	}


}

//Lightbox
.pswp {
	.pswp__bg {
		background-color: transparentize(black, .4);
	}
}