.carousel  {
	.carousel-control {
		.icon-prev,
		.icon-next {
			width:auto;
			height:auto;
			position:absolute;
			top:50%;
			@include transform(translate(-50%, -50%));
			left:50%;
			font-size:30px;
			line-height:0;
			margin:0;
		}
	}
}
