.component {

	&-graytitle {
		position: relative;

		padding: $gth 0;
		background: $afs-header-footer-bg;

		.graytitle-text {
			position: relative;
		    display: block;
		    margin: 0 auto;
		    width: 900px;

			font-family: $font-family-serif;
			font-size: 1.6em;
			text-align: center;
			color: $afs-text-color-4;

			text-transform: uppercase;
			letter-spacing: 0.4em;

			background: $afs-header-footer-bg;
		}

		&::before {
			content: " ";
			position: absolute;
			top: 0;
			left: 50%;
			height: 50%;
			border-bottom: $afs-header-footer-border;

			width: 85%;

			-webkit-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
	}

	&-productbar {
		padding: 0;

		.productbar-container {
			display: flex;
			flex-flow: row nowrap;

			.product {
				position: relative;

				flex: 1 1 0;

				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				text-align: center;


				&-title {
					position: relative;
					display: block;
					z-index: 5;

					padding: 42px 10px;

					font-family: $font-family-sans-serif;
					color: $afs-text-color-4;
					font-size: 1.6em;
					font-weight: 600;

					text-transform: uppercase;

				}

				&::after {
					content: " ";
					position: absolute;
					top:0; right:0; bottom:0; left:0;

					background: transparentize(black, .6);

					z-index: 4;
				}

				&:hover {
					&::after {
						opacity: 0;
					}
				}
			}
		}
	}

	&-hpc {
	    min-height: 400px;
		padding: 0;

		background-position: center right;
		background-repeat: no-repeat;
		background-size: auto 100%;

		.hpc-content {
			padding: $gtd $gth;

			.afs-title-lg {
				color: $afs-text-color-1;
				margin-bottom: $gtf;
			}

			.afs-title-sm {
				color: $afs-text-color-1;
				margin-bottom: 0;
			}

			p {
				@extend .afs-body-main-sm;
				margin-bottom: $gth;

			}

			a {
				@extend .btn--arrow;
				margin: $gth 0;
			}

			.content-col {

				&:not(:first-child) {
					padding: 0 0 0 $gth;
				}

				p {
					@extend .afs-body-main-sm;
				}
			}
		}

		&-fade-right {
			&::before {
				content: " ";
				position: absolute;
				top:0; right:0; bottom:0; left:0;

				background-image: linear-gradient(to right, $afs-primary-bkg 0%, $afs-primary-bkg 40%, transparent 85%); /* Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+*/
				background-repeat: repeat-x;

			}
		}
	}

	&-scta {
		position: relative;

		padding: 0;

		background-color: $afs-text-color-3;
		overflow: hidden;

		.scta-L,
		.scta-R,
		.scta-E {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}

		.scta-L {
			border-right: 5px solid white;
			transform: translate(-2.5px, 0);
		}

		.scta-R {
			border-left: 5px solid white;
			transform: translate(2.5px, 0);
		}

		.scta-E {
			border-top: 5px solid white;
			transform: translate(0, 2.5px);

			.scta-container {
				width: 100%;
				max-width: 960px;
			}
		}

		.scta-container {
			width: 100%;
			max-width: 410px;

			margin: $gtf auto;
			padding: $gth;
			background: transparentize($afs-primary-bkg, .1);
		}

		.scta-content {
			padding: $gth;
			border: 1px solid black;

		    text-align: center;

			.afs-subtitle {
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;

				&::before,
				&::after {
					content: " ";
					display: block;

					width: 20%;
					max-width: 70px;
					height: 10px;

					margin: 0 15px;

					background: transparent;
					border-bottom: 1px solid $afs-text-color-1;
				}
			}

			p {
				@extend .scta-body;
				padding: 0 30px
			}

			.btn--rounded {
				display: block;
				max-width: 320px;

				margin: $gth auto;
				padding: $gth;

				text-align: center;
			}
		}

		&:after {
			content: "OR";
			position: absolute;

			top: calc(50% - 35px);
			left: calc(50% - 35px);

			width: 70px;
			height: 70px;

			background-color: $afs-text-color-3;

			border: 5px solid white;
			border-radius: 35px;

			color: $afs-text-color-4;
			font-family: $font-family-sans-serif-alt;
			font-size: 1.6em;
			line-height: 1;
			text-align: center;

			padding: 23px 0;
		}

		&--with-ecom {
			.scta-L {
				border-bottom: 5px solid white;
				transform: translate(-2.5px, -2.5px);
			}

			.scta-R {
				border-bottom: 5px solid white;
				transform: translate(2.5px, -2.5px);
			}

			&:after {
				top: 395px;
			}
		}
	}

	&-testimonial {
		p {
			color: $afs-text-color-4;
			font-family: $font-family-serif;
			font-size: 2.8em;
			font-style: italic;
			margin-bottom: $gtf;

			text-align: center;

			&:first-child {
				&::before {
					content: url('/wp-content/themes/afs/assets/img/testimonial-quote.svg');
					display: block;
					margin-bottom: $gtf;
				}
			}

			&:last-child {
				font-family: $font-family-sans-serif;
				font-size: 1.8em;
				font-weight: 300;
				margin: 0;
			}
		}
	}

	&-fincta,
	&-schedulecta {
		background-size: cover;
		padding: 20px 0;

		.cta-content {
			color: $afs-text-color-4;
			font-family: $font-family-sans-serif;
			font-size: 1.8em;
			font-weight: 300;

			padding: $gth;
		}

		.cta-btn {
			.btn--rounded {
				margin: 0;
				padding: $gth;
			}

			img {
				height: 50px;

				transform: translateX(22px) scale(1.5);
			}
		}
	}

	&-inspirationcta {
		padding: 100px 0;

		p {
			@extend .afs-body-main;
		}


		.inspiration-actions {
			position: relative;
			transform: translateY(-25px);

		    z-index: 1;

			clear: both;

			.btn--arrow {
				padding: 15px;
				margin: 0;
				margin-bottom: $gth;
			}

			&-filters {
				.dropdown {
					display: inline-block;
					width: 49%;
					min-width: auto;
					padding: 0;

					.dropdown-menu {
					    top: 150%;
					}

					.dropdown-placeholder {
					    padding: 15px 0;

						@extend .afs-body-main-sm;
						color: $afs-text-color-1;
					    font-size: 1.4rem;

						&::before {
							content: none;
						}
					}

					&:first-child::after {
						content: "|";
						color: $afs-text-color-3;
						margin-left: 9px;
					    font-size: 1.8rem;
					}

				}

			}

			&::after {
				content: " ";
				display: block;
				clear: both;
			}
		}

		.inspiration-lead {
			position: relative;

			.inline-category-blue {
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: 2;

				transition: opacity 250ms ease-in;
			}
		}
	}

	&-promotions {
		padding: $gtd 0;
		text-align: center;

		.afs-title-lg {
			color: $afs-text-color-2;
			margin-bottom: $gtf;
		}
	}

	&-filter {
		padding: 0;
		background-size: cover;
		background-position: center center;

		.dropdown {
			min-width: 200px;
		}

		.filter-container {
			.form-inline {
				display: block;

				.form-container,
				.form-action {
					display: inline-block;
				}

			}

			.btn-viewall {
				float: right;

				padding: $gtf;

				@extend .afs-body-lg;
				color: $afs-text-color-4;
			}
		}
	}

	&-no-grid {
		padding: 3*$gtd 0;

		text-align: center;

		.afs-title-lg {
			color: $afs-text-color-1;
		}

		a {
			font-weight: 400;
		}
	}

	&-sidebar-about {
		float: right;

		.cta {
			margin-bottom: $gtf;

			text-align: center;

			.btn--rounded {
    			display: block;

				margin: 0 $gth;
				padding: $gth $gtf;

			    font-size: 1.4rem;
				text-transform: uppercase;
			}
		}
	}

	&-sidebar-menu {
		margin-bottom: $gtf;

		.dropdown-menu {
			li {
				a {
					font-size: 1.6rem;
				}
			}
		}
	}

	&-pagination {
		a,
		span {
			margin: 0 5px;
			@extend .afs-body-main-sm;
		}

		.current {
			color: $afs-text-color-1;
			font-weight: 600;
		}
	}
}

.afs-tabs {

	/* https://codepen.io/kazmeyer/pen/lzqhf */
	.tabs {
		border: none;
		display: flex;
		flex-flow: row nowrap;

		margin: 0;
		padding: 0;
		list-style: none;

		li {
			flex-grow: 1;

			padding: 10px 0;
			margin-bottom: 0;

			background-color: $tab-inactive;

			@extend .afs-title-sm;
			color: $afs-text-color-3;
			text-align: center;
			border-radius: 10px 10px 0 0;
		    border: 0;

			cursor: pointer;
			overflow: hidden;

		    &:last-child {
		    	margin-right: 0;
		    }

			&.active {
				background-color: $afs-secondary-bkg;
				color: $afs-text-color-1;
			    border: none;
			}

			&:hover {
				background-color: $afs-secondary-bkg;
			}
		}
	}

	.tab-container {
		background-color: $afs-secondary-bkg;
		padding: $gtf;
		overflow-y: auto;

		/*Defines height on different pages depending on the content*/
		.afs-hpct & {
			height: 400px;
		}

		.afs-inspiration & {
			height: 462px;
		}

		.tab-content {
			display: none;
		}

		.promotion-card {

		}

		&::after {
			content: " ";
			display: block;
			clear: both;
		}

		&::-webkit-scrollbar {
			width: 10px;
			background-color: $scroll-bg;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $scroll-thumb;
			max-height: 20px;
		}

	}

	.tab-drawer-heading {
		display: none;

		padding: 10px;
		margin-bottom: 5px;

	    background-color: #eeeeee;

		cursor: pointer;
		user-select: none;

		h5 {
			position: relative;

			@extend .afs-title-md;
			color: $afs-text-color-3;

			padding: 10px;
			border: $nav-main-separator;
			margin: 0;

			&::after {
				content: "\f055";
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translateY(-50%);

				font-family: $icon-font-name;

			}
		}

		&.d-active {
			margin-bottom: 0;

			h5 {
				color: $afs-text-color-1;
			}
		}
	}
}

.promotion-card {
	margin-bottom: $gtf;

	font-size: 1rem;
	color: $afs-text-color-1;
	text-align: center;

	.afs-title-md {
		font-size: 2rem
	}

	p {
		font-family: $font-family-sans-serif;
		font-size: 1.5em;
		font-weight: 300;
   	}


	&-image {
		position: relative;
		img {
			width: 100%;
		}

		.inline-category-blue {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;

			margin: 0;
		}

		&::after {
			content: " ";
			position: absolute;
			top:0; right:0; bottom:0; left:0;
			z-index: 0;

			background: $afs-primary-bkg;
			opacity: 0;

			transition: opacity 250ms ease-in;

		}
	}

	&-info {
		background: $afs-secondary-bkg;
		padding: 10px;

		.tab-content & {
			background: $afs-primary-bkg;
		}


		&-inner {
			padding: $gth;
			border: $nav-main-separator;
		}
	}

	&-action {
		position: absolute;
		top: 50%;
		z-index: 1;

		transform: translateY(-25%);

		width: 100%;

		opacity: 0;

		transition: opacity 250ms ease-in, transform 250ms ease-in;

		.btn--rounded {
			display: block;

			max-width: 300px;

			margin: 15px 30px;
			padding: 15px;
		}
	}

	&.promotion-card-horizontal {
		width: 50%;

		display: -webkit-flex;

		display: -ms-flexbox;

		display: -webkit-box;

		display: flex;
		flex-flow: row nowrap;

		.promotion-card-image,
		.promotion-card-info {
			align-self: stretch;
		}

		.promotion-card-info {
			width: calc(100% - 200px);

			&-inner {
				height: 100%;
			}
		}

		.promotion-card-image {
			width: 200px;
			height: 200px;

			img {
				height: 100%;
				width: auto;
			}
		}

		.afs-title-md {
			font-size: 1.8rem;
			margin-bottom: 5px;
		}

		p {
			font-size: 1.2em;
		}

		&::after {
			content: " ";
			display: block;
			clear: both;
		}

	}

	&.promotion-card-hover {
		&:hover {
			.promotion-card-image {
				&::after {
					opacity: .55;
				}
			}

			.promotion-card-action {
				opacity: 1;
				transform: translateY(-50%);
			}
		}
	}
}

/*Inspiration Gallery and Tips Trends Card*/
.igtt {
	&-card {
		margin-bottom: $gtf;

		transition: transform 100ms ease-in-out;

		&:hover {
			transform: scale(1.02);
		}
	}

	&-info {
		padding: $gth;
		background-color: $afs-secondary-bkg;
	}

	&-title {
		font-family: $font-family-sans-serif;
		color: $afs-body-main-color;
		font-size: 2em;
		font-weight: 700;

		margin: 0 $gth $gth $gth;
	}
}

.location {
	@extend .afs-body-main;

	.afs-title-lg {
		width: 100%;
		color: $afs-text-color-1;
	}

	.afs-title-md {
		color: $afs-text-color-3;
	}

	.hours {
		font-size: 1rem;

		margin-bottom: 15px;

		h3 {
			font-size: 1.8em;
			font-weight: 700;
		}

		ul {
			padding: 0;
			margin: 0;

			list-style: none;

			li {
				font-size: 1.6em;
			}
		}

		dl {
			display: flex;
			flex-flow: row nowrap;

			margin-bottom: 0px;
			font-size: 1.8rem;

			dt {
				width: 33%;

				text-align: right;
				padding-right: $gth;
				font-weight: 200;
   			}

			dd {
				padding-left: $gth;
			}
		}

		&.hours-footer {
			h3::after {
				content: "*";
			}

			.footnote {
				display: inline-block;

				margin-top: 5px;

				font-size: 1em;

				&::before {
					content: "*";
				}
			}
		}
	}

	&-address {
		@extend %info;
		&::before {
			content: "\f041";
			color: $afs-text-color-2;
		}
	}

	&-phone {
		@extend %info;

		&::before {
			content: "\f095";
			color: $afs-text-color-2;
		}
	}

	&-email {
		@extend %info;

		&::before {
			content: "\f0e0";
			color: $afs-text-color-2;
		}
	}

	&-addphone {
		padding: 0;
		margin: 0;
		list-style: none;

		&-label {
			margin: 0;
			padding-left: 30px;
		}

		.location-phone {
			margin-bottom: 10px;
		}
	}


	&-review {
		.review-angie,
		.review-bbb,
		.review-google,
		.review-yelp,
		.review-yahoo,
		.review-citysearch,
		.review-fb,
		.review-houzz {
			@extend %info;
		}

		.review-angie::before {
			content: "\f209";
			color: $brand-angie;
		}

		.review-bbb::before {
			content: url("/wp-content/themes/afs/assets/img/bbb-icon.svg");
		}

		.review-fb::before {
			content: "\f082";
			color: $brand-facebook;
		}

		.review-google::before {
			content: "\f0d5";
			color: $brand-google;
		}

		.review-houzz::before {
			content: "\f27c";
			color: $brand-houzz;
		}

		.review-yahoo::before {
			content: "\f19e";
			color: $brand-yahoo;
		}

		.review-yelp::before {
			content: "\f1e9";
			color: $brand-yelp;
		}
	}
}

.location-preview {
	display: flex;
	flex-flow: row wrap;

	margin-bottom: 60px;

	.afs-title-lg {
		a {
			color: $afs-blue;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.location-info {
		width: 60%;
		padding-right: 15px;
	}

	.location-front {
		margin-bottom: 30px;

		img {
			width: 100%;
		}
	}

	.location-details {
		display: flex;
		flex-flow: row wrap;

		padding: $gth;

	    background: $afs-secondary-bkg;

		.location-contact {
			width: 40%;
		}

		.location-hours {
			display: flex;
			flex-flow: row wrap;

			width: 60%;


			.hours {
				width: 50%;

				&-day {
					text-decoration: underline;
				}
			}
		}


		.location-link {
			width: 100%;

			.btn--square {
				font-size: 2.4rem;
			}

		}
	}

	.location-map {
		width: 40%;

		background-position: center;
		background-size: cover;

		img {
			display: none;

			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		iframe {
			width: 100%;
			max-width: 100%;
			height: 100%;
		}
	}

	.location-link {
		margin-top: $gtf;

		a {
			display: block;
			margin: 0;
			padding: $gth;
			text-align: center;
		}
	}
}

.location-single {
	display: flex;
	flex-flow: row wrap;

	.location-info {
		width: 40%;

		.location-contact {
			margin-bottom: 30px;
		}
	}

	.location-hours {
		width: 60%;
	}

}

.location-reviews {
	margin-bottom: 30px;

	&-links {
		display: flex;
		flex-flow: row wrap;

		padding: 0;
		margin: 0;
		list-style: none;

		li {
			width: 20%;
			margin: 5px;

			transition: transform 150ms ease-in;

			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

/* Used for icons in location info*/
%info {
	position: relative;
	display: block;

	margin-bottom: $gth;
	margin-right: $gth;
	padding-left: $gtf;

	font-size: 1.6rem;

	&::before {
		font-family: $icon-font-name;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* Global Announcement */
.afs-announce {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	align-content: center;

	padding: 0;
	font-size: 1em;

	&-label,
	&-message {
		padding: 10px;

		color: $afs-text-color-4;
	}

	&-label {
		position: relative;
		z-index: 5;
		flex: 1;

		font-weight: 700;
		text-align: center;

		background-color: darken($afs-text-color-2, .7);

		&::after {
			content: " ";

			display: block;

			position: absolute;
			top: 0;
			right: -15px;

			z-index: 4;

			width: 0;
			height: 0;
			border-top: 21px solid transparent;
			border-left: 15px solid darken($afs-text-color-2, .7);
			border-bottom: 21px solid transparent;
		}
	}


	&-message {
		position: relative;
		z-index: 1;
		flex-grow: 8;

		padding-left: 30px;

		background-color: lighten($afs-text-color-2, 10);

		text-align: center;
	}


	&-close {
		position: absolute;

		top: 50%;
		right: 15px;

		transform: translateY(-50%);

		background-color: transparent;

		color: $afs-text-color-4;
		border: none;
		box-shadow: none;

	}

	&::after {
		content: " ";
		display: block;
		clear: both;
	}
}

/*Reviews: Inspiration - Single*/
$reviews: 'review';
.afs-#{$reviews} {

	.#{$reviews}-name {
		display: inline-block;
		@extend .afs-title-sm;

		color: $afs-text-color-1;

		&::after {
			content: "|";
			margin: 0 10px;
			color: $afs-text-color-1;
		}

	}

	.#{$reviews}-stars {
		color: $afs-review-stars;
		font-size: 2em;
		font-weight: 200;

		.fa-star {
			margin: 0 2px;
		}
	}

	.#{$reviews}-body {
		@extend .afs-body-main;
	}
}

/*Question & Answer: Inspiration - Single*/
$qa: 'qa';
.afs-#{$qa} {

	.#{$qa}-q {
		/* margin: 0;*/

		@extend .afs-title-sm;
		color: $afs-text-color-1;
	}

	.#{$qa}-a {
		@extend .afs-body-main;
	}
}


/*Media Queries*/
@media screen and (max-width: 1439px) {
	.component {
		&-fincta,
		&-schedulecta {
			.cta-btn {
				margin: $gth 0;
			}
		}

		&-inspirationcta {
			.inspiration-static {
				.afs-subtitle {
					font-size: 1.4rem;
				}

				.icta-title {
					font-size: 3.6rem;
				}

				.icta-subtitle {
					font-size: 1.6rem;
				}
			}

			.inspiration-lead {
				.inline-category {
					ul {
						li {
							a {
								font-size: 1.4rem;
							}
						}
					}
				}
			}

			.inspiration-actions {
				transform: translateY(0px);

				.btn--arrow {
					font-size: 1.4rem;

					&::before {
					    right: -16px;
					    width: 31.11px;
					    height: 31.11px;
					}
				}

				&-filters {
					.dropdown {
						.dropdown-placeholder {
						    font-size: 1.2rem;
						}
					}
				}
			}
		}
	}

	.promotion-card {
		&-action {
			.btn--rounded {
				margin: 15px;
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.component {
		&-graytitle {
			.graytitle-text {
			    width: 775px;
				font-size: 1.4em;
			}

			&::before {
				width: 90%;
			}
		}

		&-productbar {
			.productbar-container {
				flex-flow: row wrap;

				.product {
					flex: 1 1 25%;

					&-title {
						padding: 42px $gth;
					}
				}
			}
		}

		&-fincta,
		&-schedulecta {
			.cta-btn {
				.btn--rounded {
				    font-size: 1.7em;
				}

				img {
					transform: translateX(10px) scale(1.2);
				}
			}
		}

		&-testimonial {
			font-size: .8rem;
		}

		&-inspirationcta {
			.inspiration-static {
				text-align: center;
				margin-bottom: $gtf;

				.afs-subtitle {
					margin-bottom: 5px;
				}

				.icta-title {
					margin-bottom: 30px;
					font-size: 4.2rem;
				}
			}

			.inspiration-lead {
				margin-bottom: 30px;
			}

			.inspiration-actions {
				text-align: center;
				clear: left;

				&-link,
				&-filters {
					text-align: center;
					width: 50%;
					float: left;
				}

				&-filters {
					.dropdown {
						display: inline-block;
						width: auto;

						&:first-child::after {
							margin: 0 5px;
						}

						.dropdown-placeholder {
	    					font-size: 1.4rem;
	   					}
					}
				}
			}
		}

		&-filter {
			.filter-container {
				.btn-viewall {
					font-size: 1.8rem;
				}
			}
		}
	}

	.promotion-card {
		font-size: 0.8rem;
	}

	.location-preview {
		.location-details {
			.location-contact {
				width: 100%;
				margin-bottom: 30px;
			}

			.location-hours {
				width: 100%;
			}

			.location-link {
				.btn--square {
				    font-size: 1.8rem;
				}
			}
		}
	}

	.afs-announce {
		font-size: 0.9em;

		&-label {
			&::after {
				border-top: 20px solid transparent;
				border-left: 16px solid darken($afs-text-color-2, .7);
				border-bottom: 20px solid transparent;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.component {

		&-sidebar-menu {
			float: right;

			.dropdown-toggle {
				display: none;
			}

			.dropdown-menu {
			    position: relative;
			    display: block;
				float: none;

				padding: 0;
				margin: 0;


				list-style: none;
				box-shadow: none;
				outline: 0;
				border: none;
			    background: transparent;

				li {
					padding: $gth;
					border-bottom: $nav-main-separator;
				    background: transparent;

					a {
						padding: 0;

						text-align: left;
						font-family: $font-family-sans-serif;
						color: $afs-body-main-color;
						font-size: 1.6rem;
						font-weight: 200;
						color: $afs-text-color-1;

					    background: transparent;

					    &:hover {
						    background: transparent;
							color: $afs-text-color-1;
					    }

					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.component {
		&-graytitle {
			.graytitle-text {
			    width: 600px;
			}

			&::before {
				width: 95%;
			}
		}

		&-productbar {
			.productbar-container {
				.product {
					&-title {
						padding: $gtf $gth;
					}
				}
			}
		}

		&-scta {
			padding: 0;

			.scta-L,
			.scta-R,
			.scta-E {
				padding: 30px 0;
				background-position: top center;
			}

			.scta-L {
				border-right: none;
				border-bottom: 5px solid white;
				transform: translateY(-2.5px);
			}

			.scta-R {
				border-left: none;
				border-top: 5px solid white;
				transform: translateY(2.5px);
			}

			.scta-E {
				transform: translateY(7.5px);

				.scta-container {
					width: 100%;
					max-width: 410px;
				}
			}

			&--with-ecom {
				&:after {
					display: none;
				}
			}
		}

		&-testimonial {
			p {
				&:first-child {
					&::before {
						margin-bottom: $gth;
					}
				}
			}
		}

		&-fincta,
		&-schedulecta {
			.cta-content {
				font-size: 1.6em;
			}

			.cta-btn {
				.btn--rounded {
				    font-size: 1.5em;
				}

				img {
					display: none;
				}
			}
		}

		&-inspirationcta {
			.inspiration-lead {
				padding: 0 7.5px;

				.inline-category {
					margin: 0 7.5px;
				}
			}
		}

		&-filter {
			.filter-container {
				a {
					font-size: 1.8rem;
				}

				.btn--rounded {
					font-size: 1.8rem;
				}
			}
		}

		&-sidebar-about {
			float: left;

			.cta {
				float: left;
				width: 33.33%;

				text-align: center;

				img {
					height: 75px;
				}

				.btn--rounded {
					min-width: 180px;

					margin: 0 $gth;
					padding: $gth;

					font-size: 1.1rem;
				}
			}

			&::after {
				content: " ";
				display: block;
				clear: both;
			}
		}

		&-sidebar-menu {
			width: 100%;

			.dropdown {
			    display: inline-block;
			}
		}
	}

	.igtt {
		&-card {
			.inline-category {
				ul {
					li {
						a {
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}

	.location-preview {
		.location-info {
			width: 100%;
			padding: 0;
		}

		.location-info,
		.location-front {
			margin-bottom: 15px;
		}

		.location-details {
			justify-content: space-around;
			text-align: center;
		}

		.location-contact {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
		}


		.location-map {
			display: none;
		}
	}

	.promotion-card {

		&.promotion-card-horizontal {
			width: 100%;

			.promotion-card-info {
				width: calc(100% - 150px);
			}

			.promotion-card-image {
				width: 150px;
				height: 150px;
			}

			.afs-title-md {
				font-size: 1.6rem;
			}

			p {
				font-size: 1.4em;
			}
		}
	}

	.afs-announce {
		font-size: .8em;

		&-label {
			&::after {
				border-top: 19px solid transparent;
				border-left: 15px solid darken($afs-text-color-2, .7);
				border-bottom: 19px solid transparent;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.component {
		&-graytitle {
			.graytitle-text {
			    width: 75%;
				padding: 0 $gth;
			    font-size: 1.2em;
			    letter-spacing: 0.2em;
			}
		}

		&-productbar {
			.productbar-container {
				.product {
					&-title {
						font-size: 1.2em;
					}
				}
			}
		}

		&-hpc {
			background-size: auto;
			background-position: top right;

			.hpc-content {
				padding: 400px $gth 0 $gth;
			}

			&-fade-right {
				&::before {
					content: " ";
					position: absolute;
					top:0; right:0; bottom:0; left:0;

					background-image: linear-gradient(to bottom, transparent 0%, transparent 150px, $afs-primary-bkg 500px); /* Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+*/
					background-repeat: repeat-x;

				}
			}
		}

		&-fincta,
		&-schedulecta {
			.cta-content,
			.cta-btn {
				float: left;
			}

			.cta-content {
				width: calc(100% - 162px);
				font-size: 1.6em;
			}

			.cta-btn {
				width: 162px;
			}
		}

		&-fincta {
			.cta-content {
				width: calc(100% - 162px);
				font-size: 1.6em;
			}

			.cta-btn {
				width: 162px;
			}
		}

		&-schedulecta {
			.cta-content {
				width: calc(100% - 240px);
				font-size: 1.6em;
			}

			.cta-btn {
				width: 240px;
			}
		}

		&-inspirationcta {
			.inspiration-lead {
				.inspiration-overlay {
					z-index: 2;
					opacity: 1;

					transform: translateY(0%);

					.afs-title-md {
						display: none;
					}

					.btn--arrow {
						position: absolute;
						bottom: 0;
						right: 0;

						padding: $gth;
						margin: 0;
						margin-right: 7.5px;

						&::before,
						&::after {
							content: none;
						}
					}
				}

				.inline-category {
					display: none;
				}
			}


			.inspiration-actions {
				&-link {
					text-align: left;
				}

				&-filters {
					text-align: right;
				}
			}
		}

		&-filter {
			.filter-container {
				.btn-viewall {
					padding: 22px;
					font-size: 1.4rem;
				}

				.btn--rounded {
					font-size: 1.4rem;
					margin: 10px;
				}

				.dropdown {
				    padding: $gth 0px;
					min-width: auto;

					.dropdown-placeholder {
						font-size: 1.4rem;
					}

					.dropdown-menu {
						top: 100%;
						left: -14px;
					}
				}
			}
		}

		&-sidebar-about {
			.cta {
				.btn--rounded {
					min-width: 150px;
				}
			}
		}
	}

	.afs-tabs {
		.tab-container {
			padding: $gth;
		}
	}

	.igtt {
		&-info {
			.inline-category {
				ul {
					li {
						a {
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}

	.promotion-card {

		&.promotion-card-horizontal {
			.promotion-card-info {
				width: 100%;
			}

			.promotion-card-image {
				display: none;
			}
		}

	}

	.location {
		.afs-title-lg {
			text-align: center;
		}
	}

	.location-preview {
		.location-details {
			.location-link {
				.btn--square {
				    font-size: 1.6rem;
				}
			}
		}
	}

	.location-single {
		.location-info,
		.location-hours {
			width: 50%;
		}
	}

	.afs-announce {
		&-label {
			&::after {
				content: none;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.location-single {
		background: none;

		.location-info,
		.location-hours {
			width: 100%;
		}

		.location-info,
		.location-hours {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
		}

		.location-hours {
			.hours {
				width: 100%;
				text-align: center;

				dl {
					dt {
						width: 50%;
					}
				}
			}
		}

	}
}

@media screen and (max-width: 599px) {
	.component {
		&-graytitle {
			.graytitle-text {
			    font-size: 1.2em;
			    letter-spacing: 0;
			}
		}

		&-scta {

			.scta-content {
				.scta-title {
					font-size: 8em;
				}
			}
		}

		&-testimonial {
		    font-size: 0.6rem;

			p {
				&:first-child {
					&::before {
						transform: scale(.8);
					}
				}


				&:last-child {
					font-size: 2em;
				}
			}
		}

		&-inspirationcta {
			.inspiration-actions {
				&-link,
				&-filters {
					width: 100%;
					text-align: center;
				}
			}
		}

		&-filter {
			.filter-container {
				text-align: center;

				.form-inline {
					.form-container {
						display: block;
					}
				}

				.btn--rounded {
    				font-size: 1.2rem;
				}

				.dropdown-clear {
    				margin: 0 15px;
				}

				.btn-viewall {
					float: none;
    				padding: 22px 15px;
    				font-size: 1.4rem;
   				}

			}
		}

		&-sidebar-about {
			width: 100%;
			.cta {
				&:first-child {
					display: block;
					float: none;

					width: 50%;

					margin-left: auto;
					margin-right: auto;
				}

				&:not(:first-child) {
					display: none;
				}
			}
		}
	}

	.afs-tabs {
		.tabs {
			display: none;
		}

		.tab-container {
			padding: 0;
			overflow-y: unset;

			background-color: transparent;

			.afs-hpct & {
				height: auto;
			}

			.afs-inspiration & {
				height: auto;
			}

			.tab-content {
				padding: 15px;
				background-color: white;
			}
		}

		.tab-drawer-heading {
			display: block;
			h5 {
				font-size: 1.4rem;
			}
		}
	}

	.igtt {
		&-info {
			.inline-category {
				ul {
					li {
						a {
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}

	.promotion-card {
		&.promotion-card-horizontal {
			.promotion-card-info {
			    background-color: #eeeeee
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.component {
		&-graytitle {
			.graytitle-text {
				width: 65%;
			}
		}

		&-productbar {
			.productbar-container {
				.product {
					flex: 1 1 50%;

					&-title {
					    padding: 30px 5px;
					}
				}
			}
		}

		&-scta {
			.scta-container {
				padding: 10px;
			}

			.scta-content {
				width: 100%;
				max-width: 410px;

				padding: 10px;

				.scta-title {
					font-size: 4em;
				}

				p {
					padding: 0 10px
				}

				.afs-subtitle {

					&::before,
					&::after {
						width: 12%;
					}

					&::before {
						left: 5px;
					}

					&::after {
						right: 5px;
					}
				}
			}
		}

		&-fincta,
		&-schedulecta {
			.cta-content,
			.cta-btn {
				display: block;
				float: none;
				width: auto;

				text-align: center;
			}
		}

		&-inspirationcta {
			.inspiration-lead {
				width: 33%;
				float: left;

				padding: 0;

				.inspiration-overlay {
					.btn--arrow {
						margin: 0;
						padding: 10px;

						font-size: 1.2rem;
					}
				}
			}
		}


		&-sidebar-about {
			.cta {
				&:first-child {
					width: 85%;
				}
			}
		}
	}

	.igtt {
		&-info {
			.inline-category {
				ul {
					li {
						a {
							font-size: 1.4rem;
						}
					}
				}
			}
		}
	}

	.location-preview {

		.location-details {
			.location-contact,
			.location-hours {
				flex-direction: column;
				align-items: center;
			}

			.location-hours {
				.hours {
					width: auto;
				}
			}
		}

	}

	.location-single {

		.location-info {
			flex-direction: column;
			align-items: center;

			margin-bottom: 30px;
		}

	}

	.promotion-card {
		&-action {

			.btn--rounded {
				max-width: 230px;
				margin: 15px auto;
			}
		}
	}

	.afs-announce {
		flex-flow: column;
        text-align: center;

        &-label {
        	display: none;
        }
	}
}
