/* .dropdown-menu > .active > a,*/
/* .dropdown-menu > .active > a:hover,*/
/* .dropdown-menu > .active > a:focus {*/
/* 	color: darken($brand-primary, 30%);*/
/* 	background-color: transparent;*/
/* 	font-size:14px;*/
/* }*/
/* .dropdown-menu > li > a {*/
/* 	color: darken($brand-primary, 15%);*/
/* 	font-size:14px;*/
/* }*/
/* .dropdown-menu > li > a:hover,*/
/* .dropdown-menu > li.active > a:hover,*/
/* .dropdown-menu > li.active > a:active,*/
/* .dropdown-menu > li.active > a:focus {*/
/* 	color: $brand-primary;*/
/* 	background-color:transparent;*/
/* }*/
/* .dropdown-menu > li.active a {*/
/* 	color: darken($brand-primary, 30%);*/
/* 	background-color:transparent;*/
/* 	font-weight:bold;*/
/* }*/


.nav-main {
	.dropdown {
		.dropdown-menu {
		    margin: 0;
		    padding: 15px;
		    background: $nav-dropdown-bg;

			font-size: 1rem;

		    li {
		    	border-bottom: 1px solid $nav-dropdown-border;
		    	border-left: none;

		    	a {
					font-family: $font-family-sans-serif;
					color: $nav-dropdown-color;
					font-size: 1.8rem;
					font-weight: 300;

		    		padding: 10px 0;
		    		text-align: center;

		    		&:hover {
		    			color: $afs-text-color-3;
						background: transparent;
					}
		    	}
		    }

			&::before {
				content: " ";
				position: absolute;
				top: -1px;
				left: calc(50% - 25px);

				width: 0;
				height: 0;
				border-style: solid;
				border-color: white transparent;
				border-width: 10px 25px 0 25px;
			}
		}

	}
}

.inspiration-actions-filters,
.component-filter {
	.dropdown {
	    position: relative;
		display: inline-block;

	    margin: 0 auto;
	    padding: 30px 15px;

		.dropdown-placeholder {
			@extend .afs-body-lg;
			color: $afs-text-color-4;

		    background: transparent;
		    cursor: pointer;
		    outline: none;
		    border: none;


		    &::before {
				content: "\f0d7";
				display: inline-block;

				font-family: $icon-font-name;
				color: $afs-text-color-2;

				margin-right: $gth;
			}
		}

		.dropdown-menu {
			min-width: 150px;

			padding: 15px;
			margin: 0;

		    list-style: none;

			font-size: 1rem;

		    background: $nav-dropdown-bg;
			border: 1px solid $custom-dropdown-outline;
			border-radius: 5px;

		    -webkit-box-shadow: 0 0 40px 0px black;

		            box-shadow: 0 0 40px 0px black;

		    li {
	    		padding: 10px 0;
		    	border-bottom: 1px solid $nav-dropdown-border;

				font-family: $font-family-sans-serif;
				color: $nav-dropdown-color;
				font-size: 1.8rem;
				font-weight: 300;
	    		text-align: center;

				cursor: pointer;

	    		a {
					padding: 0;

					font-size: 1.6rem;
					color: $nav-dropdown-color;

					&:hover {
						color: $afs-text-color-3;
						text-decoration: none;
						background-color: transparent;
					}
	    		}

	    		&:hover {
					color: $afs-text-color-3;
					text-decoration: none;
	    		}

	    		&:first-child {
	    			padding-top: 0px;
	    		}

	    		&:last-child {
	    			border-bottom: none;
	    			padding-bottom: 0px;
	    		}


		    }

		    &::before {
		    	content: "";
				position: absolute;
				top: -8px;
				left: 15px;

				width: 15px;
				height: 15px;

				border: 1px solid $custom-dropdown-outline;

				border-width: 1px 1px 0 0;

				-webkit-transform: rotate(-45deg);

				    -ms-transform: rotate(-45deg);

				        transform: rotate(-45deg);
			    background: $nav-dropdown-bg;
		    }

		}

		input {
			display: none;
		}
	}

	.dropdown-clear {
		display: none;

		border: none;

		font-size: 2em;
		color: $afs-text-color-4;

	    background: transparent;
	    cursor: pointer;
	    outline: none;

		> .fa {
			margin-right: 5px;
		}

	    &.active {
			display: inline-block;
	    }

	}
}

.component-filter {
	.dropdown {
		.dropdown-menu {
			top: 80%;
			left: 3px;
		}
	}
}


@media screen and (max-width: 1199px) {
	.dropdown-menu {
		min-width: auto;

	    li {
	    	a {
				font-size: 1.6em;
	    	}
	    }
	}

	.component-filter {
		.dropdown {
			.dropdown-placeholder {
				font-size: 1.8rem;
			}

			.dropdown-menu {
				top: 80%;
				left: 3px;

				li {
					font-size: 1.6rem;
				}
			}
		}
	}


}

@media screen and (max-width: 991px) {
	.component-sidebar-menu {
		.dropdown {

			.dropdown-toggle {
				font-size: 2em;
				color: $afs-text-color-5;

				background: transparent;
				border: none;
				-webkit-box-shadow: none;
				        box-shadow: none;
				-webkit-appearance: none;
				   -moz-appearance: none;
				        appearance: none;

			    &::after {
					content: "\f0d7";
					display: inline-block;

					font-family: $icon-font-name;
					color: $afs-text-color-2;

					margin-right: $gth;
				}
			}

			.dropdown-menu {
			    width: auto;
			    margin: 0;
			    padding: 15px;
			    background: $nav-dropdown-bg;

				font-size: 1rem;

			    li {
			    	border-bottom: 1px solid $nav-dropdown-border;

			    	a {
						font-family: $font-family-sans-serif;
						color: $nav-dropdown-color;
						font-size: 1.8rem;
						font-weight: 300;

			    		padding: 10px 0;
			    		text-align: center;

			    		&:hover {
			    			color: $afs-text-color-3;
							background: transparent;
						}
			    	}
			    }

				&::before {
					content: " ";
					position: absolute;
					top: -1px;
					left: calc(50% - 25px);

					width: 0;
					height: 0;
					border-style: solid;
					border-color: white transparent;
					border-width: 10px 25px 0 25px;
				}
			}

		}
	}

}

@media screen and (max-width: 767px) {
	.navbar-nav {
		.open {
			.dropdown-menu {
				padding: 0;

			    > li {
					border: none;

			    	 > a {
						padding: 5px 0 15px 15px;

						font-size: 1.3em;
						text-align: left;
						line-height: 1;

		   	    	}

					&:first-child {
						a {
							padding-top: 0;
						}
					}

			    }

			    &::before {
			    	content: none;
			    }
			}
		}
	}


	.inspiration-actions-filters {
		.dropdown:last-child {
			.dropdown-menu {
				left: -35px;

			    &::before {
					left: auto;
					right: 15px;
			    }
			}
		}
	}



}