/*Form Stack Reset + General Styles*/
.fsBody {
	.fs2Col {
		min-width: auto;
	}

	.fsForm {
		-webkit-box-shadow: none !important;
		        box-shadow: none !important;
		border: none !important;

		.fsSection {
			&::after {
				content: " ";
				display: block;
				clear: both;
			}
		}

		.fsSectionHeader {
			display: none;
		}

		.fsFieldRow {
			display: inline-block;

			margin-bottom: 15px;

			clear: none;

			.fsRowBody {
				padding: 0 !important;

				&.fsFieldFocused {
					background: transparent !important;
				}

				.fsLabel {
					@extend .afs-body-main-sm;
					color: $afs-text-color-1;
					font-weight: 300;

					margin-bottom: 5px;

					.fsRequiredMarker {
						font-size: 1.2rem;
						font-weight: 300;
					}
				}

				.fsSubFieldGroup {

					.fsSupporting {
						@extend .fsLabel;
					}
				}


				input[type="text"],
				input[type="email"],
				input[type="tel"],
				select,
				textarea {
					width: 100%;
					max-width: 100%;

					padding: 10px;
					border: 1px solid $afs-form-input-outline;

					@extend .afs-body-main-sm;
					color: $afs-text-color-1;


					background-color: $afs-primary-bkg;
					background-image: none;
					-webkit-box-shadow: none;
					        box-shadow: none;
				}

				.ui-datepicker-trigger {
					margin-left: 5px;
					width: auto;
				}
			}

			&::after {
				content: " ";
				display: block;
				clear: both;
			}
		}

		.fsSubmit {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			padding: 0;
			margin: 15px 0;

			background-color: transparent;

			.fsSubmitButton {
				order: 2;

				@extend .btn--rounded;
			}

			.stacklock {
				margin: 0 !important;

				img {
					width: auto;
				}
			}
		}
	}
}

.field-type__firstlast {
	float: left;
	width: 50%;

	padding-right: 7.5px !important;

	.fsLabel {
		display: none;
	}

	.fsSubFieldGroup {
		display: block;

		.fsSubField {
			position: relative;

			float: left;
			width: 50%;

			padding-top: 24px;
			margin: 0;

			clear: none;

			&.fsNameFirst {
				padding-right: 7.5px !important;
			}

			&.fsNameLast {
				padding-left: 7.5px !important;

				.fsSupporting  {
					left: 7.5px;
				}
			}


			.fsSupporting {
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&::after {
			content: " ";
			display: block;
			clear: both;
		}
	}
}

.field-type__25left {
	width: 25%;
	float: left;
}

.field-type__50left {
	width: 50%;
	float: left;
}

.field-type__50right {
	width: 50%;
	float: right;
}

.field-type__padl {
	padding-left: 7.5px !important;
}

.field-type__padr {
	padding-right: 7.5px !important;
}

/*Form Specific CSS*/
.fsForm {
	/************************
	 FORM: Commercial Inquiry
	*/

	//Name - First + Last
	#fsRow1245636-1 {
		@extend .field-type__firstlast;
	}

	#fsRow1245636-2, //Commercial Inquiry - Email
	#fsRow1245636-3 //Commercial Inquiry - Phone
	{
		@extend .field-type__25left;
	}


	#fsRow1245636-4,  //Commercial Inquiry - Select Industry
	#fsRow1245636-5,  //Commercial Inquiry - Select Market
	#fsRow1245636-7  //Commercial Inquiry - Howd you hear?
	{
		@extend .field-type__50left;
	}

	#fsRow1245636-2, //Commercial Inquiry - Email
	#fsRow1245636-3, //Commercial Inquiry - Phone
	#fsRow1245636-5, //Commercial Inquiry - Select Market
	#fsRow1245636-6 //Commercial Inquiry - Comments
	{
		@extend .field-type__padl;
	}

	#fsRow1245636-2, //Commercial Inquiry - Email
	#fsRow1245636-4, //Commercial Inquiry - Select Industry
	#fsRow1245636-7  //Commercial Inquiry - Howd you hear?
	{
		@extend .field-type__padr;
	}

	#fsRow1245636-6 //Commercial Inquiry - Comments
	{
		width: 50%;
		float: none;
	}

	#fsRow1245636-8 //Commercial Inquiry - Sign UP
	{
		@extend .field-type__50right;

		margin: 30px 0;

		clear: both;

		.fsOptionLabel {
			input {
				float: none;
				vertical-align: top;

			}
		}
	}







	/******************************
	 FORM: Schedule an Appointment
	*/

	//Name - First + Last
	#fsRow2383067-2 {
		@extend .field-type__firstlast;
	}

	#fsRow2383067-3,  //Schedule Appointment - Email + Phone
	#fsRow2383067-5,  //Schedule an Appointment - Select Your Market
	#fsRow2383067-6,  //Schedule an Appointment - Preferred Date + Time
	#fsRow2383067-7,  //Schedule an Appointment - Flooring Interest
	#fsRow2383067-9,  //Schedule an Appointment - Comments
	#fsRow2383067-10, //Schedule an Appointment - Howd you hear
	#fsRow2383067-11  //Schedule an Appointment - Sign Up
	{
		@extend .field-type__50left;
	}



	#fsRow2383067-3,  //Schedule Appointment - Email + Phone
	#fsRow2383067-6,  //Schedule an Appointment - Preferred Date + Time
	#fsRow2383067-10, //Schedule an Appointment - Howd you hear
	#fsRow2383067-11  //Schedule an Appointment - Sign Up
	{
		@extend .field-type__padl;
	}


	#fsRow2383067-5, //Schedule an Appointment - Select Your Market
	#fsRow2383067-9  //Schedule an Appointment - Comments
	{
		@extend .field-type__padr;
	}

	#fsRow2383067-3, //Schedule Appointment - Email + Phone
	{
		.fsRowBody {
			width: 50%;
		}

		#fsCell42940285  //Schedule Appointment - Email
		{
			@extend .field-type__padr;
		}

		#fsCell42940286  //Schedule Appointment - Phone
		{
			@extend .field-type__padl;
		}
	}

	#fsRow2383067-4, //Schedule an Appointment - Address
	#fsRow1235202-5  //Careers - Address
	{
		display: block;

		.fsFieldAddress,
		.fsFieldAddress2 {
			display: inline-block;
			float: left;
			width: calc(50% - 7.5px);
		}

		.fsFieldAddress {
			margin: 0 7.5px 15px 0 !important;
		}

		.fsFieldAddress2 {
			margin: 0 0 15px 7.5px !important;
		}

		.fsSubFieldGroup {
			width: 50%;

			.fsSubField {
				position: relative;
				padding: 24px 15px 0 0 !important;
				margin: 0;

				input,
				select {
					width: 100%;
				}

				label {
					position: absolute;
					top: 0px;
				}
			}

			.fsFieldCity {
				width: 50%;
			}

			.fsFieldZip {
				@extend .field-type__padr;
			}

			.fsFieldState,
			.fsFieldZip {
				width: 25%;
			}
		}

	}

	#fsRow1235202-5 //Careers - Address
	{
		margin: 45px 0;
	}

	#fsRow2383067-6 //Schedule an Appointment - Preferred Date + Time
	{

		#fsCell42940281 //Schedule an Appointment - Preferred Date
		{
			width: 75%;

			select {
				width: 28%;
			}
		}

		#fsCell42940282 //Schedule an Appointment - Preferred Time
		{
			width: 25%;
			@extend .field-type__padl;
		}
	}

	#fsRow2383067-7  //Schedule an Appointment - Flooring Interest
	{

		.fsRowBody {
			width: 100%;

			.fieldset-content {
				-webkit-columns: 2;
				   -moz-columns: 2;
				        columns: 2;

				label {
					padding: 5px 0;
					@extend .afs-body-main-sm;

					input {
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	#fsRow2383067-11  //Schedule an Appointment - Sign Up
	{
		input {
			margin-bottom: 10px;
		}
	}

	#modal-appointment & {
		#fsRow2383067-2 //Schedule an Appointment - Name - First + Last
		{
			width: 100%;
			padding-right: 0 !important;

			.fsSubFieldGroup {
				.fsNameFirst {
					padding-right: 7.5px !important;
				}

				.fsNameLast {
					padding-left: 7.5px !important;

					label {
						left: 7.5px;
					}
				}
			}
		}

		#fsRow2383067-3, //Schedule an Appointment - Email + Phone
		#fsRow2383067-7, //Schedule an Appointment - Flooring Interest
		#fsRow2383067-9, //Schedule an Appointment - Comments
		#fsRow2383067-11 //Schedule an Appointment - Sign Up
		{
			width: 100%;
		}

		#fsRow2383067-3,  //Schedule an Appointment - Email + Phone
		#fsRow2383067-10, //Schedule an Appointment - Howd you hear
		#fsRow2383067-11  //Schedule an Appointment - Sign Up
		{
			padding-left: 0 !important;
		}

		#fsRow2383067-9
		{
			padding-right: 0 !important;
		}

		#fsRow2383067-4 //Schedule an Appointment - Address
		{
			.fsSubFieldGroup {
				width: 100%;

				.fsFieldCity {
					width: 50%;
					padding-right: 7.5px !important;

					input {
						width: 100%;
					}
				}

				.fsFieldState {
					padding-left: 7.5px !important;
					padding-right: 7.5px !important;
				}

				.fsFieldZip {
					padding-left: 7.5px !important;
					padding-right: 0 !important;
				}
			}
		}

		#fsRow2383067-6 //Schedule an Appointment - Preferred Date + Time
		{
			width: 100%;
			padding-left: 0 !important;

			#fsCell42940281 //Schedule an Appointment - Preferred Date
			{
				width: 50%;
			}
		}
	}



	/******************************
	 FORM: Careers
	*/

	//Name - First + Last
	#fsRow1235202-2 {
		@extend .field-type__firstlast;
	}

	#fsRow1235202-3, //Careers - Phone
	#fsRow1235202-4 //Careers - Email
	{
		@extend .field-type__25left;
	}

	//Careers - Type of Positon
	#fsRow1235202-6  {
		@extend .field-type__50left;
	}

	#fsRow1235202-3, //Careers - Phone
	#fsRow1235202-4  //Careers - Email
	{
		@extend .field-type__padl;
	}

	#fsRow1235202-3, //Careers - Phone
	#fsRow1235202-6, //Careers - Type of Positon
	#fsRow1235202-1	 //Careers - Location
	{
		@extend .field-type__padr;
	}

	#fsRow1235202-7, //Careers - Related Experience
	#fsRow1235202-8  //Careers - Additional Comments
	{
		width: 100%;
		float: none;

		margin: 30px 0;

		clear: both;

		.fsOptionLabel {
			text-align: right;

			input {
				float: none;
				vertical-align: top;

			}
		}

	}

	#fsRow1235202-1  //Careers - Location
	{
		display: block;
		width: 50%;

		margin-bottom: 30px;
	}












	/******************************
	 FORM: Contact Us
	*/

	//Name - First + Last
	#fsRow1231839-1 {
		@extend .field-type__firstlast;
	}

	#fsRow1231839-2, //Contact Us - Email
	#fsRow1231839-3  //Contact Us - Phone
	{
		@extend .field-type__25left;
	}

	#fsRow1231839-4,  //Contact Us - Select Your Marker
	#fsRow1231839-5,  //Contact Us - Comments
	#fsRow1231839-6   //Contact Us - Howd you hear
	{
		@extend .field-type__50left;
	}

	#fsRow1231839-5, //Contact Us - Comments
	#fsRow1231839-7  //Contact Us - Sign Up
	{
		@extend .field-type__50right;
	}

	#fsRow1231839-2, //Contact Us - Email
	#fsRow1231839-5, //Contact Us - Comments
	#fsRow1231839-3, //Contact Us - Phone
	#fsRow1231839-7  //Contact Us - Sign Up
	{
		@extend .field-type__padl;
	}

	#fsRow1231839-2, //Contact Us - Email
	#fsRow1231839-4, //Contact Us - Select Your Marker
	#fsRow1231839-6  //Contact Us - Howd you hear
	{
		@extend .field-type__padr;
	}

	#fsRow1231839-7  //Contact Us - Sign Up
	{
		clear: right;
	}

	.sb-quote & {
		#fsRow1231839-1  //Contact Us - Name - First + Last
		{
			width: 100%;
			padding-right: 0 !important;
		}

		#fsRow1231839-2 //Contact Us - Email
		{
			width: 50%;
			padding-left: 0 !important;
		}

		#fsRow1231839-3 //Contact Us - Phone
		{
			width: 50%;
		}

		#fsRow1231839-4  //Contact Us - Select Your Market
		{
			width: 50%;
			clear: left;
		}


		#fsRow1231839-5, //Contact Us - Comments
		#fsRow1231839-7  //Contact Us - Sign Up
		{
			width: 100%;
			float: left;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		#fsRow1231839-6  //Contact Us - Howd You Hear?
		{
			width: 50%;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}



	/******************************
	 FORM: Contact Us - DEMO
	*/

	//Name - First + Last
	#fsRow2911988-1 {
		@extend .field-type__firstlast;
	}

	#fsRow2911988-2, //Contact Us - Email
	#fsRow2911988-3  //Contact Us - Phone
	{
		@extend .field-type__25left;
	}

	#fsRow2911988-4,  //Contact Us - Select Your Marker
	#fsRow2911988-5,  //Contact Us - Comments
	#fsRow2911988-6   //Contact Us - Howd you hear
	{
		@extend .field-type__50left;
	}

	#fsRow2911988-5, //Contact Us - Comments
	#fsRow2911988-7  //Contact Us - Sign Up
	{
		@extend .field-type__50right;
	}

	#fsRow2911988-2, //Contact Us - Email
	#fsRow2911988-5, //Contact Us - Comments
	#fsRow2911988-3, //Contact Us - Phone
	#fsRow2911988-7  //Contact Us - Sign Up
	{
		@extend .field-type__padl;
	}

	#fsRow2911988-2, //Contact Us - Email
	#fsRow2911988-4, //Contact Us - Select Your Marker
	#fsRow2911988-6  //Contact Us - Howd you hear
	{
		@extend .field-type__padr;
	}

	#fsRow2911988-7  //Contact Us - Sign Up
	{
		clear: right;
	}


	/******************************
	 FORM: Designer Contact Form
	*/

	#fsRow1255805-1 {
		width: 100%;

		.fsSubField {
			width: 50%;
			padding: 0;
			margin: 0;

			.fsSupporting.fsRequiredLabel {
				font-size: 1.2rem;
				font-style: italic;
				color: $gray-lighterest;
			}

			&.fsNameFirst {
				@extend .field-type__padr;
			}

			&.fsNameLast {
				@extend .field-type__padl;
			}
		}
	}

	#fsRow1255805-2 {
		@extend .field-type__50left;
		@extend .field-type__padr;
	}

	#fsRow1255805-3 {
		@extend .field-type__50right;
		@extend .field-type__padl;
	}

	#fsRow1255805-4 {
		width: 100%;
	}

}

@media screen and (max-width: 1199px) {
	.afs-mfs-form {
		.fsBody {
			.fsForm {

				#fsRow2383067-6 //Schedule an Appointment - Preferred Date + Time
				{
					#fsCell42940281 //Schedule an Appointment - Preferred Date
					{
						width: 72%;
					}

					#fsCell42940282 //Schedule an Appointment - Preferred Time
					{
						width: 28%;
					}
				}


			}
		}
	}

	.afs-about {
		.fsBody {
			.fsForm {
				#fsRow1235202-2 //Careers - Name - First + Last
				{
					width: 100%;
					padding-right: 0 !important;

					.fsSubFieldGroup {
						.fsNameFirst {
							padding-right: 7.5px !important;
						}

						.fsNameLast {
							padding-left: 7.5px !important;

							label {
								left: 7.5px;
							}
						}

					}
				}

				#fsRow1235202-3, //Careers - Phone
				#fsRow1235202-4  //Careers - Email
				{
					width: 50%;
				}

				#fsRow1235202-3 //Careers - Phone
				{
					padding-left: 0 !important;
				}

				#fsRow1235202-5 //Careers - Address
				{
					.fsSubFieldGroup {
						width: 100%;

						.fsFieldCity {
							padding-right: 7.5px !important;
						}

						.fsFieldState {
							padding-left: 7.5px !important;
						}

						.fsFieldZip {
							padding-right: 0 !important;
							padding-left: 0 !important;
						}
					}
				}

			}
		}
	}
}

@media screen and (max-width: 991px) {
	.afs-mfs-form {
		.fsBody {
			.fsForm {

				#fsRow2383067-2 //Schedule an Appointment - Name - First + Last
				{
					width: 100%;
					padding-right: 0 !important;


					.fsSubFieldGroup {
						.fsNameFirst {
							padding-right: 7.5px !important;
						}

						.fsNameLast {
							padding-left: 7.5px !important;

							.fsSupporting {
								left: 7.5px;
							}
						}

					}
				}

				#fsRow2383067-3  //Schedule an Appointment - Email + Phone
				{
					width: 100%;
					padding-left: 0 !important;
				}

				#fsRow2383067-4 //Schedule an Appointment - Address
				{
					.fsSubFieldGroup {
						width: 100%;

						.fsFieldCity {
							padding-right: 7.5px !important;
						}

						.fsFieldState {
							padding-left: 7.5px !important;
							padding-right: 7.5px !important;
						}

						.fsFieldZip {
							padding-left: 7.5px !important;
							padding-right: 0 !important;
						}
					}
				}


				#fsRow2383067-6 //Schedule an Appointment - Preferred Date + Time
				{
					width: 100%;
					padding-left: 0 !important;

				}

				#fsRow2383067-7 //Schedule an Appointment - Flooring Interest
				{
					width: 100%;
				}

			}
		}
	}
}


@media screen and (max-width: 767px) {
	.fsBody {
		.fsForm {
			.fsFieldRow {
				.fsRowBody {
					.fsLabel {
						font-size: 1.4rem;
					}
				}
			}
		}
	}

	.afs-b2b-form {
		.fsBody {
			.fsForm {
				#fsRow1231839-1, //Commercial Inquiry - Name - First + Last
				#fsRow1231839-6  //Commercial Inquiry - Comments
				{
					width: 100%;
					padding-right: 0 !important;
				}

				#fsRow1231839-1 //Commercial Inquiry - Name - First + Last
				{
					.fsSubFieldGroup {
						.fsNameFirst {
							padding-right: 7.5px !important;
						}

						.fsNameLast {
							padding-left: 7.5px !important;
						}

					}
				}

				#fsRow1231839-2, //Commercial Inquiry - Email
				#fsRow1231839-3  //Commercial Inquiry - Phone
				{
					width: 50%;
				}

				#fsRow1231839-2, //Commercial Inquiry - Email
				#fsRow1231839-6  //Commercial Inquiry - Comments
				{
					padding-left: 0 !important;
				}

				#fsRow1231839-4 //Commercial Inquiry - Industry
				{
					clear: left;
				}

				#fsRow1231839-8 //Commericail Inquiry - Sign UP
				{
					width: 100%;
				}

			}
		}
	}

	.afs-about {
		.fsBody {
			.fsForm {

				#fsRow1231839-1, //Contact - Name - First + Last
				#fsRow2911988-1  //Contact Demo- Name - First + Last
				{
					width: 100%;
					padding-right: 0 !important;

					.fsSubFieldGroup {
						.fsNameFirst {
							padding-right: 7.5px !important;
						}

						.fsNameLast {
							padding-left: 7.5px !important;

							.fsSupporting {
								left: 7.5px;
							}
						}
					}
				}


				#fsRow1231839-2, //Contact - Email
				#fsRow1231839-3, //Contact - Phone
				#fsRow2911988-2, //Contact Demo - Email
				#fsRow2911988-3  //Contact Demo - Phone
				{
					width: 50%;
				}

				#fsRow1231839-2, //Contact - Email
				#fsRow2911988-2  //Contact Demo - Email
				{
					padding-left: 0 !important;
				}

				#fsRow1231839-4, //Contact - Select Your Market
				#fsRow2911988-4  //Contact Demo - Select Your Market
				{
					clear: left;
				}

				#fsRow1231839-5, //Contact - Comments
				#fsRow1231839-7, //Contact - Sign Up
				#fsRow2911988-5, //Contact Demo - Comments
				#fsRow2911988-7  //Contact Demo - Sign Up
				{
					width: 100%;
					padding-left: 0 !important;
				}
			}
		}
	}
}

@media screen and (max-width: 640px) {

	.fsBody {
		.fsForm {
			label.fsOptionLabel {
			    padding: 5px;
			    margin: 0;
			    border-radius: 3px;
			    cursor: pointer;
			    background: transparent;
			    background-image: none;
			    border: none;
			}
		}
	}

	.afs-mfs-form {
		.fsBody {
			.fsForm {

				#fsRow2383067-9, //Schedule an Appointment - Comments
				#fsRow2383067-11 //Schedule an Appointment - Sign Up
				{
					width: 100%;
				}

				#fsRow2383067-4 //Schedule an Appointment - Address
				{
					.fsFieldAddress2 {
						margin: 0 0 15px 0 !important;
					}
				}

				#fsRow2383067-10 //Schedule an Appointment - Howd you hear
				{
					width: 100%;
					padding-left: 0 !important;
				}

			}
		}
	}

	.afs-about {
		.fsBody {
			.fsForm {
				#fsRow1235202-5 //Careers - Address
				{
					.fsFieldAddress2 {
						margin: 0 0 15px 0 !important;
					}
				}
			}
		}
	}

	#modal-appointment {
		.fsBody {
			.fsForm {

				#fsRow2383067-4 //Schedule an Appointment - Address
				{
					.fsFieldAddress2 {
						margin-left: 0 !important;
					}
				}

				#fsRow2383067-6 //Schedule an Appointment - Preferred Date + Time
				{
					#fsCell42940281 //Schedule an Appointment - Preferred Date
					{
						width: 100%;
						margin-bottom: 15px;
					}

					#fsCell42940282 //Schedule an Appointment - Preferred Time
					{
						width: 50%;
						padding-left: 0 !important;
						padding-right: 7.5px !important;
					}
				}
			}
		}
	}

	.afs-b2b-form {
		.fsBody {
			.fsForm {

				#fsRow1231839-5 //Commercial Inquiry - Comment
				{
					width: 100%;
					padding-right: 0 !important;
					padding-left: 0 !important;
				}

			}
		}
	}


}

@media screen and (max-width: 479px) {

	/******************************
	 FORM: Designer Contact Form
	*/
	#fsForm1255805 {
		#fsRow1255805-1 {
			width: 100%;

			.fsSubField {
				width: 100%;

				&.fsNameFirst {
					padding: 0 !important;
				}

				&.fsNameLast {
					padding: 0 !important;
				}
			}
		}

		#fsRow1255805-2,
		#fsRow1255805-3,
		#fsRow1255805-4 {
			width: 100%;
			padding: 0 !important;
		}
	}


	.afs-b2b-form {
		.fsBody {
			.fsForm {

				#fsRow1231839-1 //Commercial Inquiry - Name - First + Last
				{
					.fsSubFieldGroup {

						.fsNameFirst,
						.fsNameLast {
							width: 100%;
							padding-right: 0 !important;
							padding-left: 0 !important;
						}

						.fsNameLast {
							padding-top: 30px;
							.fsSupporting {
								top: 5px;
								left: 0px !important;
							}
						}

					}
				}

				#fsRow1231839-2, //Commercial Inquiry - Email
				#fsRow1231839-3, //Commercial Inquiry - Phone
				#fsRow1231839-4 //Commercial Inquiry - Select Location
				{
					width: 100%;
					padding-right: 0 !important;
					padding-left: 0 !important;
				}

			}
		}
	}

	.afs-mfs-form {
		.fsBody {
			.fsForm {
				#fsRow2383067-2 //Schedule an Appointment - Name - First + Last
				{
					.fsSubFieldGroup {

						.fsNameFirst,
						.fsNameLast {
							width: 100%;
							padding-right: 0 !important;
							padding-left: 0 !important;
						}

						.fsNameLast {
							padding-top: 30px;
							.fsSupporting {
								top: 5px;
								left: 0px !important;
							}
						}

					}
				}

				#fsRow2383067-3 //Schedule an Appointment - Email + Phone
				{
					.fsRowBody {
						width: 100%;
						margin-bottom: 15px;
					}

					#fsCell42940285, //Schedule Appointment - Email
					#fsCell42940286  //Schedule Appointment - Phone
					{
						padding-right: 0 !important;
						padding-left: 0 !important;
					}
				}

				#fsRow2383067-4 //Schedule an Appointment - Address
				{
					.fsSubFieldGroup {
						.fsSubField.fsFieldCity {
							width: 100%;
							padding-right: 0 !important;
							margin-bottom: 15px;
						}

						.fsSubField.fsFieldState {
							width: 50%;
							padding-left: 0 !important;
						}

						.fsSubField.fsFieldZip {
							width: 50%;
						}
					}
				}

				#fsRow2383067-5, //Schedule An Appointment - Select You Market
				#fsRow2383067-10 //Schedule an Appointment - Howd you hear
				{
					width: 100%;
					padding-right: 0 !important;
					padding-left: 0 !important;
				}

				#fsRow2383067-6 //Schedule an Appointment - Preferred Date + Time
				{
					#fsCell42940281, //Schedule an Appointment - Preferred Date
					#fsCell42940282  //Schedule an Appointment - Preferred Time
					{
						width: 100%;
						margin-bottom: 15px;
						padding-right: 0 !important;
						padding-left: 0 !important;
					}
				}

				#fsRow2383067-7 //Schedule an Appointment - Flooring Interest
				{
					.fsRowBody {
						.fieldset-content {
							-webkit-columns: 1;
							   -moz-columns: 1;
							        columns: 1;
						}
					}
				}

				#fsRow2383067-9 //Schedule an Appointment - Comments
				{
					padding-right: 0 !important;
				}
			}
		}
	}

	.afs-about {
		.fsBody {
			.fsForm {

				#fsRow1231839-1, //Contact - Name - First + Last
				#fsRow2911988-1, //Contact Demo - Name - First + Last
				#fsRow1235202-2  //Careers - Name - First + Last
				{
					.fsSubFieldGroup {
						.fsNameFirst,
						.fsNameLast {
							width: 100%;

							padding-right: 0 !important;
							padding-left: 0 !important;
							margin-bottom: 15px;
						}

						.fsNameLast {
							.fsSupporting {
								left: 0px !important;
							}
						}
					}
				}

				#fsRow1231839-2, //Contact - Email
				#fsRow1231839-3, //Contact - Phone
				#fsRow1231839-4, //Contact - Select Your Market
				#fsRow1231839-6, //Contact - Howd you hear
				#fsRow2911988-2, //Contact Demo - Email
				#fsRow2911988-3, //Contact Demo - Phone
				#fsRow2911988-4, //Contact Demo - Select Your Market
				#fsRow2911988-6, //Contact Demo - Howd you hear
				#fsRow1235202-3, //Careers - Phone
				#fsRow1235202-4, //Careers - Email
				#fsRow1235202-1, //Careers - Location
				#fsRow1235202-6, //Contact - Type of Position
				#fsRow1231839-7, //Contact - Sign Up
				#fsRow2911988-7  //Contact Demo - Sign Up
				{
					width: 100%;
				}

				#fsRow1231839-2, //Contact - Email
				#fsRow1231839-4, //Contact - Select Your Market
				#fsRow1231839-6, //Contact - Howd You hear
				#fsRow2911988-2, //Contact Demo - Email
				#fsRow2911988-4, //Contact Demo - Select Your Market
				#fsRow2911988-6, //Contact Demo - Howd You hear
				#fsRow1235202-3, //Careers - Phone
				#fsRow1235202-1, //Careers - Location
				#fsRow1235202-6  //Contact - Type of Position
				{
					padding-right: 0 !important;
				}

				#fsRow1231839-3, //Contact - Phone
				#fsRow2911988-3, //Contact Demo - Phone
				#fsRow1235202-4  //Careers - Email
				{
					padding-left: 0 !important;
				}

				#fsRow1235202-5 //Careers - Address
				{
					.fsSubFieldGroup {
						.fsFieldCity {
							width: 100%;
							padding-right: 0 !important;
							margin-bottom: 10px;
						}

						.fsFieldState {
							width: 50%;
							padding-left: 0 !important;
							padding-right: 7.5px !important;

							select {
								width: 100%;
							}

						}

						.fsFieldZip {
							width: 50%;
							padding-left: 7.5px !important;
						}

					}
				}

			}
		}
	}

	#modal-appointment {
		.fsBody {
			.fsForm {

				#fsRow2383067-2 //Schedule an Appointment - Name - First + Last
				{
					.fsSubFieldGroup {
						.fsNameFirst {
							width: 100%;
							padding-right: 0 !important;
							margin-bottom: $gth;
						}

						.fsNameLast {
							width: 100%;
							padding-left: 0 !important;

							label {
								left: 0;
							}
						}

					}
				}

				#fsRow2383067-3 //Schedule Appointment - Email + Phone
				{
					#fsCell42940285, //Schedule Appointment - Email
					#fsCell42940286  //Schedule Appointment - Phone
					{
						width: 100%;
						margin-bottom: $gth;

						padding-right: 0 !important;
						padding-left: 0 !important;

					}
				}

				#fsRow2383067-4 //Schedule an Appointment - Address
				{
					.fsSubFieldGroup {
						.fsFieldCity {
							width: 100%;
							padding-right: 0 !important;
							margin-bottom: $gth;
						}

						.fsFieldState {
							width: 50%;
							padding-left: 0 !important;
							padding-right: 7.5px !important;

							select {
								width: 100%;
							}
						}

						.fsFieldZip {
							width: 50%;
						}
					}
				}

				#fsRow2383067-5 //Schedule an Appointment - Select Your Market
				{
					width: 100%;
					padding-right: 0 !important;
				}

				#fsRow2383067-6 //Schedule an Appointment - Preferred Date + Time
				{

					#fsCell42940281, //Schedule an Appointment - Preferred Date
					#fsCell42940282  //Schedule an Appointment - Preferred Time
					{
						width: 100%;

						padding-right: 0 !important;
						padding-left: 0 !important;

					}
				}

				#fsRow2383067-7 //Schedule an Appointment - Flooring Interest
				{
					.fsRowBody {
						.fieldset-content {
							-webkit-columns: 1;
							   -moz-columns: 1;
							        columns: 1;
						}
					}
				}



				#fsRow2383067-10 //Schedule an Appointment - Howd you hear
				{
					width: 100%;
				}

				#fsRow2383067-11 //Schedule an Appointment - Sign Up
				{
					input {
						margin-bottom: 30px;
					}
				}


			}
		}
	}

	.sb-quote {
		.fsBody {
			.fsForm {
				#fsRow1231839-1  //Contact Us - Name - First + Last
				{
					width: 100%;
					padding-right: 0 !important;

					.fsSubFieldGroup {
						.fsSubField {
							&.fsNameFirst,
							&.fsNameLast {
								width: 100%;
								padding-right: 0 !important;
								padding-left: 0 !important;
							}

							&.fsNameLast {
								.fsSupporting {
									left: 0 !important;
								}
							}
						}
					}
				}

				#fsRow1231839-2, //Contact Us - Email
				#fsRow1231839-3, //Contact Us - Phone
				#fsRow1231839-4, //Contact Us - Select Your Market
				#fsRow1231839-6  //Contact Us - Howd You Hear?
				{
					width: 100%;
					padding-right: 0 !important;
					padding-left: 0 !important;

				}
			}
		}
	}
}



 input[type="radio"],
 input[type="checkbox"],
 .radio,
 .checkbox {
 	display: inline-block;
 	margin: 0px 8px 0 0;
 }

 .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=email],
 .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=number],
 .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=password],
 .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=tel],
 .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=text],
 .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=url],
 .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=email],
 .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=number],
 .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=password],
 .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=tel],
 .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=text],
 .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=url],
 .gform_wrapper .ginput_complex input[type=email],
 .gform_wrapper .ginput_complex input[type=number],
 .gform_wrapper .ginput_complex input[type=password],
 .gform_wrapper .ginput_complex input[type=tel],
 .gform_wrapper .ginput_complex input[type=text],
 .gform_wrapper .ginput_complex input[type=url],
 .gform_wrapper .hidden_label input.large,
 .gform_wrapper .hidden_label select.large,
 .gform_wrapper .top_label input.large,
 .gform_wrapper .top_label select.large,
 .gform_wrapper textarea.large {
 	width: 100% !important;
 }

 .gform_wrapper {
 	max-width: 100% !important;
 }

 body .gform_wrapper .top_label div.ginput_container {
 	margin-top: 0 !important;
 }

 input:not([type="submit"]),
 select,
 textarea {
 	border-radius:0 !important;
 }

 .ginput_complex > span > label {
 		font-size:11px !important;
 }

 .gform_wrapper div.validation_error {
 	width: 100% !important;
 	border-top: 0 !important;
 	border-bottom: 0 !important;
 	border-radius:0 !important;
 	padding:15px !important;
 	font-size:18px;
 	text-align:center;
 }

 .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
 	margin-top: 0 !important;
 	margin-bottom: 0 !important;
 	border-top: 0 !important;
 	border-bottom: 0 !important;
 }

 .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
 	background-color: transparent !important;
 	padding: 0 !important;
 	border-top: 0 !important;
 	border-bottom: 0 !important;
 }

 .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
 	max-width: 100% !important;
 	padding-right: 0 !important;
 }

 .gform_wrapper .gfield_description+.gform_wrapper .gfield_description.validation_message, .gform_wrapper .ginput_container+.gfield_description.validation_message {
 	margin-top: 0 !important;
 }

 .gform_wrapper .ginput_container+.gfield_description.validation_message:before {
 	content:"\f071";
 	font-family:'FontAwesome';
 	margin-right:4px;
 }

 img.gform_ajax_spinner {
 		position: absolute !important;
 		z-index: 999999;
 		left: 0;
 		top: 0;
 		right: 0;
 		bottom: 0;
 		display: block !important;
 		overflow: hidden	!important;
 		width: 100% !important;
 		height: 100% !important;
 		background-color: #000;
 		background-color: rgba(0, 0, 0, 0.7);
 		background-image: url('../img/ajax-spinner.gif');
 		background-repeat: no-repeat;
 		background-size: 24px 24px;
 		background-position: center center;
 }

 input:-webkit-autofill {
 	-webkit-box-shadow: 0 0 0px 1000px white inset;
 }

 /* Floating Labels */
 .gfield {
 	position:relative;
 	margin:0 0 21px !important;

 	> label {
 		position:absolute;
 		top:-13px;
 		left:0;
 		font-size:11px;
 		color:#aaa;
 		@include transition( all, 0.1s, linear );
 		opacity:0;
 		font-weight:bold;

 		&.on {
 			color:$brand-primary;
 		}

 		&.show {
 			top:-17px;
 			opacity:1;
 		}
 	}

 	&.gf_show_label {
 		.gfield_label {
 			position: relative;
 			opacity: 1;

 			top: 0;

 			font-family: $font-family-sans-serif;
 			font-size: 1.8rem;
 			font-weight: 600;
 			color: $afs-text-color-1;

 		}
 	}
}

