.nav {
	.open {
		> a {
			background-color: transparent;
		}
	}
}

.navbar {
	position: relative;
	font-size: 1rem;

	&.side-collapse {
		float: right;
	}
}

.navbar-brand {
	padding: 15px $navbar-padding-horizontal;
	height: auto;

	img {
		height: 100px;
		width: auto;
	}
}

.nav-main {
	> li {
	    margin: 15px 0;
	    padding: 10px 0;

		> a {
			font-family: $font-family-sans-serif;
			font-size: 1.6em;
			font-weight: 600;
			color: $afs-text-color-1;

			text-transform: uppercase;

			padding: 5px $gtf;

			&:hover {
				background: transparent;
			}

		}

		&.sidebar-button {
			display: none;
		}



		&:not(:first-child) {
			> a {
				border-left: $nav-main-separator;
			}
		}

		&.dropdown {
			.dropdown-menu {
			    width: auto;
			}

			&.open {
				a {
					&:hover {
						background: transparent;
					}
				}
			}
		}

		.cart-count {
			background-color: white;
			color: $afs-blue;
		}

	}
}

.nav-secondary {
	text-align: right;
    margin: 0 $gth;

	li {
		display: inline-block;

		a {
			font-family: $font-family-sans-serif;
			font-size: 1.4em;
			font-weight: 200;
			color: $afs-text-color-5;

			padding: $gth;

			&:hover {
				background: transparent;
				text-decoration: underline;
			}

		}
	}
}

@media screen and (max-width: 1439px) {
	.navbar {
		.container {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			width: 100%;

			&::before,
			&::after {
				content: none;
			}
		}

		.navbar-brand {
			img {
				height: 65px;
			}
		}

		.nav-main {
			> li {
				> a {
				   padding: 5px 25px;
			   }
			}
		}
	}

}

@media screen and (max-width: 1199px) {
	.navbar {
		.navbar-brand {
			img {
				height: 60px;
			}
		}

		.nav-main {
			> li {
				margin: 5px 0;
				padding: 5px 0;

				> a {
					font-size: 1.2em;
					padding: 5px 15px;
				}

				&.afs-menu-button {
					a {
						padding: 10px 15px;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.navbar {
		&.side-collapse {
			.navbar-collapse {
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-end;
			}
		}
	}
}

@media screen and (max-width: 1060px) {
	.navbar {
		.container {
			flex-flow: column nowrap;
		}

		&.side-collapse {
			.navbar-collapse {
				align-items: center;
			}
		}
	}
}

@media screen and (max-width: 991px) {

	.navbar {
		.navbar-header {
			.navbar-brand {
				img {
					margin: 0 auto;
				}
			}
		}

		&.side-collapse {
			float: none;

			.navbar-collapse {
				text-align: center;

				.nav-main {
				    display: inline-block;
				    float: none;
				    text-align: center;

				    margin: 0 $gth;
				}

				.nav-secondary {
					text-align: center;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.nav-main {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		> li {
			&.afs-menu-button {
				a {
					padding: 15px 30px;
					border-left: none;
					border-radius: 8px;

					color: white;
					font-size: 1.4rem;

					color: #ffffff;
					line-height: 1;
					background: #82a850;
					background-image: linear-gradient(to bottom, #82a850 0%, #67893e 100%);
					border: none;
					box-shadow: none;
				}
			}

			&.icon-account,
			&.icon-cart {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.navbar {
		&.side-collapse {
			.navbar-collapse {
				.nav-main,
				.nav-secondary {
				    display: block;
					padding: 0;
					margin: 0;

					> li {
						display: block;

						padding: 0;
						margin: 0;

						border-top: 1px solid $nav-dropdown-border;

						> a {
							padding: 10px 0;
							margin: 0;

							font-family: $font-family-sans-serif;
							font-size: 1.2rem;
							font-weight: 400;

							color: white;
							text-transform: uppercase;

							text-align: left;

							&:nth-child(n) {
								border: none;
							}
						}

						&.icon-account,
						&.icon-cart {
							display: flex;
							flex-flow: row nowrap;
							align-items: center;

							&::before {
								font-size: 1.6rem;
							}
						}
					}
				}

				.nav-main {
					> li {
						&.sidebar-button {
							display: block;
						}
					}

				}
			}
		}
	}
}
